/*Gradient Collections*/

.sample-1 {
	background-image: linear-gradient( 45deg, rgb(248,110,110) 0%, rgb(207,167,5) 100%);
}

.sample-2 {
	background-image: linear-gradient( 45deg, rgb(25,161,224) 0%, rgb(45,190,144) 100%);
}

.sample-3 {
	background-image: linear-gradient( 45deg, rgb(49,170,226) 0%, rgb(157,53,192) 100%);
}