
/*SAMPLE 1*/
/*-----------------------------*/

.sample-1 bg {
	background-color: #eff0f8;
}

.sample-1 div {
	background-color: #fff;
	box-shadow: 0px 30px 100px 0px rgba(255, 83, 153, 0.45);
}

/*SAMPLE 2*/
/*-----------------------------*/

.sample-2 div {
	background-color: #fafcff;
	box-shadow: 0px 20px 40px 0px rgba(120, 155, 255, 0.58);
	border-radius: 4px;
}

/*SAMPLE 3*/
/*-----------------------------*/

.sample-3 bg {
	background-color: #ffdec3;
}

.sample-3 div {
	border-radius: 2px;
	background-image: linear-gradient( 90deg, rgb(3,0,0) 0%, rgb(255,255,255) 100%);
	box-shadow: 20px 34px 100px 0px rgba(57, 59, 162, 0.33);
}

.sample-3 aside {
	background-image: linear-gradient( 180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
}

.sample-3 button {
	border-radius: 2px;
	background-color: #231e3a;
	box-shadow: 0px 20px 50px 0px rgba(35, 30, 58, 0.65);
}

/*-----------------------------*/
